body {
    background-color: #005ea8;
}

#goethe-head {
    position: fixed;
    z-index:-1;
    height: 100%;
    left: 50%;
}

@media (max-width: 1024px) {
    #goethe-head {
        left: 40%;
    }
}

@media (max-width: 600px) {
    #goethe-head {
        left: 10%;
    }
}

.navbar-default {
    background-color: unset;
}

.site-url-field {
    color: unset !important;
    display: inline;
}

.custom-short-link {
    margin-bottom: 1em;
    max-width: 35em;
    display: inline-table;
}